{% extends 'base.html.twig' %}

{% block title %}Edit Association{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    
    <div class="card custom-card">
        <div class="card-body">
            <h1>Edit Association</h1>

            {# Include the association form with the button label 'Update' #}
            {{ include('association/_form.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('app_association_index') }}">Back to list</a>

            {# Include the delete form for association deletion #}
            {{ include('association/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
