{% extends 'admin-base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <h1>Edit Event</h1>

    {{ include('event_type/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('event_type/_delete_form.html.twig') }}
{% endblock %}
