<form method="POST" action="{{ path('app_blog_post_deleteback', {'id': blog_post.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" class="delete-form">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ blog_post.id) }}">
    <button type="submit" class="btn btn-danger btn-block">Delete</button>
</form>