{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h1 class="card-title mb-0">Edit Comment</h1>
                    </div>
                    <div class="card-body">
                        {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('app_comment_index') }}" class="btn btn-secondary">Back to List</a>
                        {{ include('comment/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
