{% extends 'admin-base.html.twig' %}

{% block title %}Edit Reservation{% endblock %}

{% block body %}
    <h1>Edit Reservation</h1>

    {{ include('reservation_type/_form.html.twig', {'button_label': 'Update'}) }}

<a href="{{ path('app_reservation_type_index') }}" class="btn btn-secondary">Back to List</a>

{% endblock %}
