{% extends 'base.html.twig' %}

{% block title %}New Reservation{% endblock %}


{% block body %}
    <div class="card custom-card">
        <div class="card-body">
<div class="row">
    <div class="col-md-20">
        <h1 style="font-size: 32px; font-weight: bold; color: #333; margin-bottom: 20px;">Create New Reservation</h1>
    </div>
</div>


            {{ include('reservation_type/_form.html.twig') }}

            
        </div>
    </div>
{% endblock %}

